<%- include('partials/head') %>
<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h3 class="card-title">Produto 1</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img class="card-img" src="#" width="100" height="400" />
                </div>
                <div class="col-6">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque obcaecati sed nobis, beatae et dicta optio architecto nisi corrupti atque ratione ullam aut omnis quod. Amet placeat veritatis ab illo.</p>

                    <h4>R$ 13,99</h4>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a href="/produto/1" class="btn btn-outline-primary">+ Adicionar ao carrinho</a>
        </div>
    </div>
</div>
<%- include('partials/footer') %>